* {
    box-sizing: border-box;
}
body, nav, dl, dt, dd {
    margin: 0;
    padding: 0;
}
input{  
        background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #d8d8d8;
    height: 38px;
    padding: 0 5px;
    width: 100%;
}

#window-container {
    width: 960px;
    margin: auto;
}
